# Игнорирование конфига bundler
/.bundle

# Игнорирование всех логов и временных файлов.
/log
/log/*.log
/tmp

# Игнорирование прочих ненужных файлов.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
