<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Лабораторная работа №3</title>
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="menu">
      <ul>
        <li class="logo"><a href="/">Лабораторная работа</a></li>
        <li class="menu__item"><a href="/client">Добавить клиента</a></li>
        <li class="menu__item"><a href="/order">Сделать заказ</a></li>
      </ul>
    </div>

  <div class="center">
    <%= yield %>
  </div>
</body>
